@import "tailwindcss";

body {
  background-color: #d5dfef; 
  color: black;           
  font-family: Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 40px;
}

.main-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-title {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 30px;
  text-align: center;
}

.filter-container {
  font-size: 17px;
  margin-bottom: 20px;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.table {
  border-collapse: collapse;
  width: 600px;
  text-align: center;
  font-size: 20px;    
}

.table th {
  background-color: rgb(182, 182, 182);
  padding: 8px;
  border: 1px solid black;
}

.table td {
  background-color: rgb(255, 255, 255);
  padding: 8px;
  border: 1px solid black;
}

.table tr:hover td{
  background-color:beige;    
}

